.logo {
  background: linear-gradient(90deg, #5b71ec 0%, #a6c5f6 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight:bolder;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 2% 10%;
}

.main-content::before {    
  content: "";
  background-image: url("/Background.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2
}

.Header {
  padding: 1px 10%;
}

.footer {
  background-color: #333;
  color: white;
  align-items: center;
}